/*todos os efeitos e animacoes do site*/
/*Autoral Lucas Romero*/
.effect {position: relative;}
/*basic*/
.effect.Up {
	opacity: 1;
	animation: eUp .8s ease-in-out 1;
	-webkit-animation: eUp .8s ease-in-out 1;
}
.effect.Down {
	opacity: 0;
	animation: eDown .8s ease-in-out 1;
	-webkit-animation: eDown .8s ease-in-out 1;
}
.effect.Left {
	animation: eLeft .8s ease-in-out 1;
	-webkit-animation: eLeft .8s ease-in-out 1;
}
.effect.Right {
	opacity: 1;
	animation: eRight .8s ease-in-out 1;
	-webkit-animation: eRight .8s ease-in-out 1;
}
/*up*/
@keyframes eUp {
	0% { 
		opacity: 0;
		top: 200px;
	}
	50% {
		opacity: 0.5;
	}
	100% { 
		opacity: 1;
		top: 0px;
	}
}
/*down*/
@keyframes eDown {
	0% { 
		opacity: 1;
		top: 0;
	}
	50% {
		opacity: 0.5;
	}
	80% {
		top: 195px;
	}
	100% { 
		opacity: 0;
		top: 200px;
	}
}
/*left*/
@keyframes eLeft {
	0% { 
		opacity: 0;
		right: 200px;
	}
	50% {
		opacity: 0.5;
	}
	100% { 
		opacity: 1;
		right: 0;
	}
}
/*right*/
@keyframes eRight {
	0% { 
		opacity: 0;
		left: 200px;
	}
	50% {
		opacity: 0.5;
	}
	100% { 
		opacity: 1;
		left: 0;
	}
}
/*fade*/
.effect.fadeIn {
	opacity: 1;
	animation: eFadeIn .8s ease-in-out 1;
	-webkit-animation: eFadeIn .8s ease-in-out 1;
}
.effect.fadeOut {
	opacity: 0;
	animation: eFadeOut .8s ease-in-out 1;
	-webkit-animation: eFadeOut .8s ease-in-out 1;
}
@keyframes eFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes eFadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
/*Load*/

.load { 
	height: 100%;
	display: flex; 
	justify-content: center;
	align-items: center; 
}
.load > span {
	float: left;
	width: 25px;
	height: 25px;
	background-color: transparent;
	border-radius: 50%;
	border: 4px solid #eee; 
	border-left-color: #0064a8;
	animation: load .6s ease infinite; 
}

/*Keyframes*/

@keyframes load{
	to {
		transform: rotate(360deg);
	}
}