.show-mobile {display: none;}
.show-sm-mobile {display: none;}
.slider .moldura .img {background-image: url(<?=$url?>images/rotinaservicos-01-old.jpg);}
/* A partir de desktop pequeno */
@media (max-width: 1250px){
	/* tamanho dos textos do site */
	html, body {
		font-size: 15px;
	}
	.col-md {
		width: 100%;
	}
}
/* Tablets */
@media (max-width: 951px){
	/* tamanho dos textos do site */
	html, body {
		font-size: 14px;
	}
	.hide-mobile {
		display: none;
	}
	.show-mobile {
		display: block;
	}
	.col-sm {
		width: 100%;
	}
	[class*="col-"] {
		width: 100%;
	}
	.item > .align {
		min-height: 200px;
	}
	.topo {
		float: left;
		width: 100%;
		box-shadow: 0 -5px 10px 0px rgba(0,0,0,0.02);
	}
	.slider .moldura .img {
		/*background-image: url(<?=$url?>images/rotinaservicos-02.jpg);*/
	}
	.article {
		width: 100%;
	}
	.aside {
		display: none;
	}
}
/* Tablets pequenos */
@media (max-width: 767px){
	.aviso-popup p {
		width: 100%;
		text-align: center;
	}
	.aviso-popup span.btn {
		margin: 1em .5em;
	}
	.aviso-popup p {
		margin: 1em 1em 0 0;
	}
	.md-center {
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 0 0 .5em 0;
	}
	.item > .col-6:nth-child(2) { padding: .93em;  }
	.icon-whatsapp img {
		max-width: 50px;
	}
	.txtslider .title h1 {
		font-size: 3.5em;
	}
	.show-sm-mobile {
		display: block;
	}
	.hide-sm-mobile {
		display: none;
	}
	.item .picture {
		height: 240px;
	}
	.item__txt h2 {
		margin: 0;
		font-size: 2.25em;
	}
	.item__txt {
		padding: 1em 0;
	}
	.item, .item > .align {
		min-height: auto;
	}
	.slider .moldura .img {
		/*background-image: url(<?=$url?>images/rotinaservicos-03.jpg);*/
	}
	.default-item .cover-item,
	.default-item .txt-item {
		width: 100%;
		height: auto;
	}
	.default-item .txt-item {
		padding-left: 2em;
	}
	.content_blog .star_blog,
	.content_blog .sub_blog {
		width: 100%;
	}
	.push-blog {
		height: 70px;
	}
	.box_btn {
		width: 100%;
	}
	.star_blog {
		height: 275px!important;
	}
	.star_blog .content_ p {
		margin: .5em 0 1em 0;
		font-size: .9em;
	}
	.star_blog .box_blog .text_blog h2 {
		font-size: 1.4em;
		line-height: 1.25em;
	}
	.star_blog .box_blog .text_blog {
		align-items: flex-end;
	}
	.popup-box .content-popup {
		width: 80%;
	}
	.popup-box span.close {
		right: 3%;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
}
/* Celulares */
@media (max-width: 480px){
	/* tamanho dos textos do site */
	html, body {
		font-size: 13px;
	}
	.slider,
	.img,
	.center__slider,
	.moldura,
	.filter {
		height: calc(100vh - 83px);
	}
	.aviso-popup span.btn {
		margin: 1em;
	}
	.sm-center {
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 0 0 .5em 0;
	}
	.slider .moldura .filter {
		background: rgba(255,255,255,0.8);
	}
	.slider .moldura .img {
		background-image: url(<?=$url?>images/artigos/temp-thumb.jpg);
		opacity: .1;
	}
	.related .content_related {
		width: 65%;
		transition: all .3s ease;
		padding-left: 0;
	}
	.cover_related {
		width: 35%;
	}
}
/* Celulares, correcoes */
@media (max-width: 340px) {
	.txtslider .title h1 {
		font-size: 3em;
	}
}