.show-sm-mobile {display: none;}
/* A partir de desktop pequeno */
@media (max-width: 1250px){
	/* tamanho dos textos do site */
	html, body {
		font-size: 15px;
	}
	.col-md {
		width: 100%;
	}
}
/* Tablets */
@media (max-width: 951px){
	/* tamanho dos textos do site */
	html, body {
		font-size: 14px;
	}
	.hide-mobile {
		display: none;
	}
	.show-mobile {
		display: block;
	}
	.col-sm {
		width: 100%;
	}
	[class*="col-"] {
		width: 100%;
	}
}
/* Celulares */
@media (max-width: 480px){
	/* tamanho dos textos do site */
	html, body {
		font-size: 13px;
	}
	/* correcao slider */
	/*remocao de margin específica*/
	.item > .col-6:nth-child(2) { padding: .93em;  }
	.icon-whatsapp img {
		max-width: 50px;
	}
	.tmobile {
		font-size: 1em!important;
	}
	.show-sm-mobile {
		display: block;
	}
}