html, body { 
	font-family: 'Open Sans', 'Arial', sans-serif; 
	color: #555;
	word-wrap: break-word;
}
/*hover*/
a { 
	opacity: .8;
	transition: all .3s ease; 
}
a:hover { 
	opacity: 1;
}
h1 {
	color: #294564;
}
h2 {
	/*position: relative;*/
	font-size: 2.25em;
	line-height: 1.25em;
	color: #294564;
}
.m-h2 {
	font-size: 2.25em;
	line-height: 1.25em;
	color: #294564;
}
h2.sublime::after {
	content: '';
	display: block;
    width: 150px;
    height: 3px;
    background: #3ebe00;
    margin: .32em auto;
}
h3 {
	margin: .64em 0;
	color: #666;
	font-weight: 400;
}
p {
	font-size: 1em;
	line-height: 1.75em;
}
.w-100 { width: 100%; }
.h-100 { height: 100%; }
/*List*/
ul.list {
	padding: 0 0 0 2.2em;
}
ul.list > li {
	font-size: 1em;
	line-height: 1.75em;
}
/*Content*/
.content {
	float: left;
	position: relative;
	box-shadow: 0 -5px 20px 0 rgba(0,0,0,0.08);
}
/*Estilização do menu*/
.menu-mobile {
	position: relative;
	float: right;
	box-sizing: border-box;
	padding-right: .9em; 
}
.menu-mobile .showUpMenu {
	opacity: 1;
	animation: showUpMenu .8s ease;
}
.menu-mobile .hideDownMenu {
	opacity: 0;
	animation: hideDownMenu .8s ease;
}
@keyframes showUpMenu {
	0% { 
		opacity: 0;
		top: 80%;
	}
	100% { 
		opacity: 1;
		top: 100%;
	}
}
@keyframes hideDownMenu {
	0% { 
		opacity: 1;
		top: 100%;
	}
	100% { 
		opacity: 0;
		top: 80%;
	}
}
.s-mobile { 
	border:none; 
	outline: none; 
	background: none;
	margin: 1em 0;
	font-size: 2em; 
	color: #294564;
}
.menu-mobile ul li {
	list-style: none;
}
.menu-mobile ul li.active,
.menu-mobile ul li.active a {
	color: #294564;
	font-weight: bold;
}
.nav-mobile {
	position: absolute;
	top: 100%;
	right: 0;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	z-index: 999;
	opacity: 0;
	display: none;
}
.nav-mobile ul {
	width: 100%;
	display: block;
	margin: 0;
	padding:0; 
	width: 150px;
}
.menu-mobile .nav-mobile ul li {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 1.1em; 
}
.menu-mobile .nav-mobile ul li a {
	float: left;
	text-decoration: none;
	color: inherit;
	padding: 1em .5em;
	box-sizing: border-box;
	width: 100%;
}
.fixed{
	position: fixed;top: 0;
	width: 100%;
}
.topo {
	position: relative;
	z-index: 9999998;
}
/*Classe para fixo no topo*/
#mblock {
	float: left;
	display: none;	
	width: 100%;
	height: 77px;
}
.headerfixed {
	position: fixed;
	top: 0;
	left: 0;
	/*animacao do header*/
	animation: scrollheader 1s ease;
}
/*animacao keyframe*/
@keyframes scrollheader {
	from {
		top: -110px;
	}
	to {
		top: 0;
		height: 80px;
	}
}
header#menu a { opacity: 1; }
header#menu {
	float: left;
	width: 100%;
	background: rgba(255,255,255.1);
	box-shadow: 0 5px 10px 0px rgba(0,0,0,0.06);
}
header#menu nav > ul{
	display: inline-block;
	list-style: none;
}
header#menu nav > ul li {
	padding: .70em 0;
	float: left;
	border-bottom: 4px solid transparent;
	transition: all .1s ease;
}
header#menu nav > ul li.active,
header#menu nav > ul li.active a {
	color: #222;
	border-color: #0065a9;
}
header#menu nav > ul li:hover {
	border-color: rgba(0,101,169,.8);
}
header#menu nav > ul li a {
	font-weight: 700;
	padding: .70em .75em;
	font-size: .9em;
	color: #555;
	text-align: center;
	text-decoration: none;
}
/*submenu dropdown*/
header#menu li.dropdown {
	position: relative;
	display: block;
}
header#menu li.dropdown ul.sub-menu {
	padding: 0;
	position: absolute;
	top: 110%;
	width: 240px;
	max-height: 400px;
	height: auto;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	border-radius: 0 0 5px 5px; 
	overflow-y: hidden;
	display: none;
	transition: opacity 1s;
}

header#menu li:hover ul.sub-menu {
	display: block;
}
header#menu li.dropdown ul.sub-menu li {
	width: 100%;
	list-style: none;
	padding: 0;
}
/*header#menu li.dropdown ul.sub-menu li.active a {
	color: #0064a8;
	border-left: 4px solid #3383b9;
	background: #f9f9f9;
}*/
header#menu li.dropdown ul.sub-menu li,
header#menu li.dropdown ul.sub-menu li a {
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	border:none;
}
header#menu li.dropdown ul.sub-menu li a {
	padding: 1.2em 1em;
}
header#menu li.dropdown ul.sub-menu li:hover {
	border:none;
	background: #f5f5f5;
}
/*Logo menu*/
.fone-logo {
	font-size: 1.25em;
	padding: 0 .3em;
}
header#menu .logo {
	float: left;
	padding: 0 0 0 .9em;
	margin: 1.25em 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
header#menu .logo a {
	font-size: 1em;
	font-weight: 600;
	text-decoration: none;
	color: #444;
}
/*Estilização menu navtop*/
.navtop {
	width: 100%;
	padding: .7em 0;
	float: left;
	background: #f5f5f5;
}
.navtop a { text-decoration: none; color: inherit;}
.navtop span{
	font-size: 1em;
	color: #444;
	padding: 0 .2em;
}
.navtop i {
	padding: 0 .2em;
}
/*Estilização do slider*/
.slider {
	float: left;
	position: relative;
	/*config tamanho*/
	width: 100%;
}
.slider .txtslider {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}
.txtslider .title {
	text-align: left;
	margin: 0 0 1.25em 0;
}
.txtslider 
.title h1 {
	font-size: 3.5em;
	margin: 1.25em 0;
}
.txtslider 
.title p {
	font-size: 1.8em;
	line-height: 1.2em;
}
.slider .img {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.slider .moldura {
	/*top: 0;*/
	/*position: fixed;*/
	overflow: hidden;
	width: 100%;
	background: #f8f8f8;
	z-index: -9;
	display: flex;
	justify-content: center;
}
.slider .moldura .filter {
	position: absolute;
	width: 100%;
	background: rgba(255,255,255,0.5);
	z-index: 9;
}
.slider .moldura > img { 
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.slider .moldura .img { 
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
.slider .center__slider {
	display: flex;
	align-items: center;
}
.slider .center__slider h1 {
	margin: .25em 0;
	/*font-size: 1.75em;*/
}
.slider .center__slider p { 
	font-size: 1em;
	line-height: 1.75em;
	margin: .50em 0; 
}
.slider .title{
	padding-left: 1em; 
	border-left: 3px solid #3ebe00;
}
.slider .center__slider h1,
.slider .center__slider p {
	/*color: #fff;*/
	/*text-shadow: 0 2px 5px rgba(0,0,0,0.3);*/
}
.slider,
.img,
.center__slider,
.moldura,
.filter {
	height: 500px;
}
/*Classe padrão botao*/
.btn {
	float: left;
	outline: none;
	border: none;
	background: #0064a8;
	padding: 1em 1.2em;
	border-radius: 5px;
	color: #fff;
	font-size: 1em;
	margin: .25em;
}
.btn-topo {
	float: left;
	outline: none;
	border: none;
	background: #66a251;
	padding: .70em 1em;
	border-radius: 5px;
	color: #fff;
	font-size: .9em;
	margin: 1.25em 1em;
	cursor: pointer;
}
.btn-item {
	/*text-transform: uppercase;*/
	padding: 1em 1.2em;
}
.btn-transparent {
	background: transparent;
	color: #444;
	font-weight: bold;
	/*text-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
}
/*Estilizacao dos itens da home*/
.item {
	float: left;
	width: 100%;
}
.item .p-item {
	/*reset*/
	padding: 0;
}
.item .col-6:first-of-type {
	padding: 0;
}
.item .picture {
	filter: opacity(.9);
	height: 640px;
	transition: all .3s ease;
}
.item:hover .picture {
	filter: opacity(1);
}
.item .picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/*.blue { background-color: #0e3e5d; }*/
.white { background-color: #fff; }
/*.item:nth-child(2n+1) .item__txt h2,
.item:nth-child(2n+1) .item__txt p {
	color: #0e3e5d;
}*/
.item,
.item > .align {
	min-height: 640px; 
}
.item > .col-6:nth-child(1){
	text-align: right;
}
.item > .col-6:nth-child(2){
	padding-left: 1.85em;
}
.item__txt h2 {
	font-size: 3em;
}
.item__txt h2,
.item__txt p {
	text-align: justify;
}
.item__txt { 
	transition: all .3s ease;
	float: left; 
}
.item__txt a { opacity: 1 }
/*Estilização dos itens home*/
.items a { text-decoration: none;color: inherit; }
.items {
	width: 100%;
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
}
.items .box {
	max-width: 280px;
	max-height: 480px;
	overflow: auto; 
	margin: .9em;
	/*texto*/
	text-align: center;
}
.items .box h3 {
	font-weight: bold;
	font-size: 1.14em;
	color: #294564;
}
.items .box > div { float: left; }
/*imagem*/
.items .box .box__pic {
	position: relative;
	overflow: hidden;
	width: 150px;
	height: 150px;
	background: #555; 
	border-radius: 50%;
}
.items .box .box__pic img {
	max-height: 100%;
	filter: brightness(.7);
}
.items .box .box__pic .box__btxt {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.items .box .box__pic .box__btxt h2 {
	font-size: 1.14em;
	text-align: center;
	color: #fff;
}
.box .icon h2 { 
	color: #0064a8!important; 
}
.items .box .icon {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,.1);
}
.icon > .box__btxt {
	font-size: 1.75em;
}
.box .box__txt {
	float: left;
	width: 100%;
}
/*buget*/
.items .budget {
	position: relative;
	bottom: 0;
	padding: 1em;
	/*background-color: #f5f5f5;*/
	border-radius: 5px;
	/*cursor: pointer;*/
	/*box-sizing: border-box;*/
	transition: all .3s ease;
}
.budget > .icon h2 { 
	color: #294564!important;
	filter: opacity(.85); 
}
.items .budget:hover .icon h2{
	color: #0064a8!important;
	transition: all .3s ease;
	filter: opacity(1); 
}
.items .budget:hover {
	bottom: .65em;
	/*box-shadow: 0 5px 10px rgba(0,0,0,.1);*/
	/*background-color: #f6f6f6;*/
	opacity: 1;
}
/*estilizando form escolha*/
.selected .icon span.m-h2 { 
	color:#0064a8!important; 
}
.ychoice {
	display: none;
	position: absolute;
	top: 1%; right: 1%;
	width: 25px;
	height: 25px;
	line-height: 25px;
	color: #689929;
}
/*Controle de cores de fundo para col*/
.c-gray,
.item { 
	float: left;
	background-color: #f4f4f4; 
}
.c-blue {
	background-color: #294564; 
}
.f-blue {
	color: #0064a8; 
}
.c-blue h2,
.c-blue p {
	color: #fff;
}
/*Estilização do formulário de contato*/
.form blockquote {
	margin: 0 0 1.2em 0;
	padding: 1.2em;
	border-left: 5px solid #66a251;
}
.box__form h2 {
	margin: .65em 0;
}
form.form input,
form.form textarea,
form.form button,
form.form select {
	box-sizing: border-box;
	resize: none;
	outline: none;
	border: none;
	width: 100%;
	padding: .8em .65em;
	margin: .8em 0;
	background: #fff;
	border: 1px solid #ddd;
	font-family: 'Open Sans', sans-serif;
	color: #444;
	font-size: 1em;
	border-radius: 5px;
}
form.form select { cursor: pointer; }
form.form input:focus,
form.form textarea:focus,
form.form select:focus {
	border-color: #ccc;
	box-shadow: 0 5px 15px rgba(0,0,0,.05)
}
.hide { display: none; }
form.form  input[type=submit]{
	color: #fff;
	cursor: pointer;
	background-color: #0064a8;
	opacity: .8;
	transition: all .3s ease;
	border-color: transparent;
}
form.form  input[type=submit]:hover { opacity: 1 }
form.form textarea {
	height: 150px;
}
form.form label {
	float: left;
	width: auto;
	font-size: 1em;
	color: #444;
}
form.form label > span {
	color: #c5030c;
}
/*Estilizacao do input file*/
.file {
    width: 100%;
    height:49px;
    position: relative;
    overflow: hidden;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 5px; 
    margin-bottom: 5px;
    text-align: center;
    line-height: 49px;
    cursor: pointer;
}
.file:hover {
	background: #f0f0f0;
}
.file input {
	cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 2;
    font-size: 100px; /* Aumenta tamanho do campo */
    opacity: 0;
    filter: alpha(opacity=0);
}
/*Classe para links*/
.link { 
	text-decoration: none;
	color: #0064a8; 
	margin: 1em 0;
}
.primary {color: #0064a8;}
/*Estilização do location e contato*/
.location iframe {
	width: 100%;
	border: none;
}
.contato span a {
	text-decoration: none;
	color: inherit;
	opacity: 1;
}
/*Estilização de rodapé*/
footer {
	float: left;
	width: 100%;
	min-height: 150px;
	height: auto;
	background-color: #eee;
}
.tel { 	font-size: 1.25em; }
footer .tel,
footer .mail {
	opacity: 1;
	text-decoration: none;
	color: inherit;
}
/*Estilizando o menu do footer*/
footer .menu__footer {
	float: left;
	width: 100%;
	display: block;
}
footer .menu__footer > ul {
	width: 100%;
	float: left;
	padding: 0; margin: 0;
}
footer .menu__footer > ul li {
	width: 100%;
	list-style: none;
	float: left;
	padding: .20em 0;
}
footer .menu__footer > ul li a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: inherit;
	padding: .15em .25em;
	font-size: inherit;
	text-align: left;
	transition: all .3s ease;
	line-height: 1.4em;
}
footer .menu__footer > ul li:hover {
	background-color: #e5e5e5;
}
/*Selo*/
.arrow {
	float: left;
	display: block;
	width: 100%;
}
.arrow:nth-child(1){
	background-color: #437a2d;
	height: 6px;
	margin: 0 0 4px 0;
}
.arrow:nth-child(2){
	background-color: #0065a9;
	height: 12px;
}
/*Canais no footer*/
footer .canais a .btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 15px;
	height: 20px;
	color: #444;
	margin: 0 .3em; 
}
footer .canais a .btn:hover {
	box-shadow: 0px 3px 15px rgba(0,0,0,.05);
	background-color: #fff;
}
/*archor*/
.anchor {
	width: 100%;
	float: left;
	background-color: #ffff;
}
.scroll-hidden {overflow: hidden;}
/*Estilizacao do whatsapp*/
.whatsapp { opacity: 1; }
.icon-whatsapp {
	position: fixed;
	right: 2%; bottom: 3%;
	width: auto;
	overflow: hidden;
	z-index: 999;
}
.icon-whatsapp img {
	max-width: 100px;
}
.opacity1 { opacity: 1 }
/*Box de anuncio*/
.ad__box {
	box-sizing: border-box;
	padding: 15px;
	background: #66a251;
	border-radius: 5px; 
	margin: 0 0 1.2em 0;
	opacity: 1;
	transition: all .3s ease;
}
.ad__box h2,
.ad__box p,
.ad__box a {
	color: #fff;
}
.ad__box:hover { opacity: .9; }
/*tag*/
.tag {
	padding: .65em;
	background: #eee;
	color: #294564;
	border-radius: 5px;
	font-weight: bold;
}
.canais.btn:hover {
	box-shadow: 0px 3px 15px rgba(0,0,0,.05);
	color: #fff!important;
}
.hover_facebook,
.hover_twitter,
.hover_instagram,
.hover_linkedin,
.hover_youtube,
.hover_tumblr {
	background: #fff;
	transition: all .3s ease;
}
/*estilo no hover nos botoes*/
span.hover_facebook:hover { 
	background-color: #3d5b99!important; }
span.hover_twitter:hover { 
	background-color: #1da1f2!important; }
span.hover_instagram:hover { 
	background-color: #ed4956!important; }
span.hover_linkedin:hover { 
	background-color: #0073b0!important; }
span.hover_youtube:hover { 
	background-color: #ff0000!important; }
span.hover_tumblr:hover { 
	background-color: #001935!important; }
.fix{
	width: 100%;
	height: auto;
	overflow: hidden;
}
/*Estilizacao aviso topo*/
.aviso-popup {
	position: relative;
	z-index: 1;
	display: none;
	opacity: 0;
}
.aviso-popup span.btn {
	float: right;
	padding: .70em 1em;
	margin: .5em 0;
}
.aviso-popup,
.content_popup {
	float: left;
	width: 100%;
}
.aviso-popup .content_popup{
	box-sizing: border-box;
	padding: 0 .5em;
}
/*estilo da breadcrumb*/
.breadcrumb {
	box-sizing: border-box;
	width: 100%;
	margin: .5em 0 1.5em 0;
}
.breadcrumb a {
	color: inherit;
	text-decoration: none;
}
.breadcrumb span {
	padding: .3em .75em;
	background: #fff;
	border-radius: 0 5px 5px 0;
	font-size: .8em;
	box-shadow: 2px 2px 10px rgba(0,0,0,.08);
	color: #222;
}
/*blog*/
.section {
	width: 100%;
}
.article-full {
	width: 100%;
}
.article {
	width: 70%;
}
article p {
	text-align: justify;
}
article h2 {
	margin: 0;
}
article h3 {
	font-weight: bold;
	color: #294564;
	margin: 1em 0;
}
.aside {
	width: 30%;
}
article,
.aside {
	float: left;
	box-sizing: border-box;
	padding: 1em;
}
article p.autor {
	line-height: 1.5em;
}
article p.autor span{
	font-size: .9em;
}
.share-on {
	float: left;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding: 1.5em 0; 
}
.share-on span {
	float: left;
	display: block;
	width: 50px;
	height: 50px;
	background: #fff;
	color: #222;
	margin: 0 .3em;
	border-radius: 50%;
	text-align: center;
	box-shadow: 2px 2px 10px rgba(0,0,0,.1);
	transition: all .3s ease;
	opacity: .9;
	display: flex;
	justify-content: center;
	align-items: center;
} .share-on span:first-of-type { margin: 0; margin-right: .3em; }
.share-on .share-btn {
	background: transparent!important;
	box-shadow: none!important;
}
.share-on span:hover { opacity: 1; }
.share-on span.share-facebook {
	background: #3b5998;
	color: #fff;
}
.share-on span.share-twitter {
	background: #04aeec;
	color: #fff;
}
.share-on span.share-whatsapp {
	background: #00bc51;
	color: #fff;
}
.share-on span.share-email {
	background: #d60008;
	color: #fff;
}
.tags {
	float: left;
	width: 100%;
}
.tags span {
	float: left;
	padding: .5em;
	background: #eee;
	margin: .1em;
	border-radius: 5px;
}
/*Images thumb articles*/
.thumb {
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0 1em 0;
}
.thumb .img_cover img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
.thumb .load {
	position: absolute;
	width: 100%;
	background: #fff;
}
/*recomendado*/
.related {
	float: left;
	position: relative;
	width: 100%;
	margin: 2em 0 0 0;
}
.related_load {
	position: relative;
	float: left;
}
.related .load {
	position: absolute;
	width: 100%;
	background: #fff;
}
.related h3 {
	color: #294564;
	font-weight: bold;
	margin: 0;
}
.related .related_title {
	box-sizing: border-box;
	padding: 1em;
	padding-left: 0;
}
.related .box_related {
	width: 100%;
	float: left;
	border-bottom: 1px solid #eee;
	margin-bottom: .8em; 
	transition: all .3s ease;
}
.cover_related {
	width: 20%;
}
.aside .cover_related {
	width: 40%;
}
.aside .related .content_related {
	width: 60%;
}
.related .content_related {
	width: 80%;
	transition: all .3s ease;
	padding-left: 0;
}
.related .box_related:hover .content_related h2{
	color: #0064a8;
}
.related .box_related:hover .cover_related a{
	opacity: 1;
}
.aside .cover_related,
.content_related {
	padding: 1em;
}
.cover_related,
.content_related {
	display: block;
	float: left;
	min-height: 100px;
	max-height: 200px;
	box-sizing: border-box;
	overflow: hidden;
	padding: 1.4em;
}
.aside .related .content_related h2 {
	font-size: .8em;
	line-height: 1.4em;
}
.related .content_related h2 {
	font-size: 1em;
	line-height: 1.25em;
	font-weight: normal;
	margin: 0 0 .5em 0;
}

.aside .related .content_related p {
	display: none;
}
.related .content_related p {
	font-size: .8em;
	line-height: 1.25em;
	margin: .4em 0 0 0;
	color: #555;
}
.related .content_related span {
	font-size: .7em;
	line-height: 1.25em;
	margin: .4em 0 0 0;
	color: #333;
}
.cover_related img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all .3s ease;
}
.related .box_related:hover{
	background: #f8f8f8;
	border-color: #0064a8;
}
.nav-aside {
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding: 1em 1em 1em 0;
}
.nav-aside a {
	color: inherit;
	text-decoration: none;
}
.nav-aside h3 {
	color: #294564;
	font-weight: bold;
	margin: .5em 0;
}
.nav-aside ul li {
	display: block;
	padding: .5em;
	list-style: none;
	transition: all .3s ease;
	border-left: 2px solid #eee;
	padding-left: 1em;
}
.nav-aside ul li.show-all {
	padding: 1em;
}
.nav-aside ul li.active {
	background: #f8f8f8;
	border-color: #0064a8;
}
.nav-aside ul {
	display: block;
	margin: 0;
}
.nav-aside ul li a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: #0064a8;
}
.nav-aside ul li:hover {
	background: #f8f8f8;
	border-color: #0064a8;
}
.locais {
	float: left;
	width: 100%;
	margin: 2em 0;
}
.locais span.b-item {
	float: left;
	margin: .2em;
	padding: .4em .8em;
	background: #eee;
	color: #294564;
	border-radius: 5px;
	font-size: .8em;
}
/*copyright*/
.copyright {
	display: block;
	padding: .6em;
	font-size: .7em;
	line-height: 1.4em;
	color: #888;
	margin: .5em 0;
}
/*artigos items*/
.content-item {
	float: left;
	width: 100%;
	margin: 0 0 2em 0;
}
.content-item .default-item {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin: 0 0 1em 0;
	transition: all .3s ease; 
}
.default-item .cover-item,
.default-item .txt-item {
	float: left;
	box-sizing: border-box;
	padding: 2em;
	height: 300px;
} 
.default-item .cover-item {
	width: 35%;
}
.default-item .txt-item {
	position: relative;
	width: 65%;
	padding-left: 0;
}
.default-item .cover-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.default-item .txt-item .published {
	display: block;
	padding-right: 2em;
	position: absolute;
	right: 0;
	font-size: 1em;
	color: #777;
}
.default-item .txt-item h2 {
	font-size: 1.25em;
	line-height: 1.5em;
	margin: 1em 0;
	font-weight: normal;
}
.default-item .txt-item p {
	font-size: .9em;
	color: #444;
	margin: 1em 0;
	text-align: justify;
}
.content-item .default-item:hover {
	background: #f8f8f8;
	border-color: #0064a8;
}
.content-item .autor {
	color: #777;
}
/*estilizacao do blog na home*/
.content_blog .star_blog,
.content_blog .sub_blog {
	float: left;
	width: 50%;
	height: 550px;
}
.content_blog .star_blog .box_blog {
	height: 100%;
}
.content_blog .sub_blog .box_blog {
	height: 50%;
}
.content_blog .box_box {
	width: 100%;
	height: 100%;
	padding: 1em;
}
.content_blog .box_box .content_ {
	position: relative;
	height: 100%;
	background: #f5f5f5;
	padding: 1em;
	/*box-shadow: 0 2px 5px rgba(0,0,0,.2);*/
}
.content_blog,
.content_blog .box_blog {
	position: relative;
	float: left;
	width: 100%;
}
.content_blog .star_blog,
.content_blog .sub_blog,
.content_blog .box_box,
.content_blog .box_box .content_ {
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 5px;
}
.content_blog .content_ > span{
	margin: 1em;
	position: absolute;
	top: 0;
	left: 0;
}
.box_blog .text_blog {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	transition: all .3s ease;
}
.box_blog .text_blog h2 {
	margin: 0; 
}
.sub_blog .box_blog .text_blog {
	align-items: flex-end;
}
.content_blog .content_ > div:first-of-type {
	position: relative;
	z-index: 9;
	height: 100%;
}
.content_blog .content_ .picture-blog {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: brightness(.6);
	transition: all .3s ease;
	object-fit: cover;
}
.box_blog .text_blog h2,
.box_blog .text_blog h3,
.box_blog .text_blog p, 
.box_blog span {
	color: #fff;
	text-shadow: 0 2px 3px rgba(0,0,0,.5);
} 
.content_blog .content_ a {
	text-decoration: none;
	color: inherit;
}
.content_blog .content_:hover .text_blog {
	margin-left: .5em;
}
.border-blog {
	width: 100%;
	border-left: 3px solid #3ebe00;
	padding-left: 1em;
	transition: all .3s ease;
}
.border-blog:hover  {
	background: rgba(255,255,255,.2);
}
.sub_blog .content_ p {
	margin: .5em 0 1em 0;
	font-size: .9em;
}
.sub_blog .box_blog .text_blog h2 {
	font-size: 1.4em;
	line-height: 1.25em;
}
/*Scroll*/
.scroll_content {
	position: relative;
	width: 100%;
	height: 100%;
	transition: all 1s ease;
}
.box_btn {
	right: 0;
	width: 50%;
	position: absolute;
	top: 100%;
	z-index: 99;
	box-sizing: border-box;
	padding: 1em;
}
.btn-blog {
	box-sizing: border-box;
	display: block;
	/*width: 100%;*/
	margin: 0;
	width: 100%; 
	height: 60px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
	opacity: .9;
	transition: all .3s ease;
}
.btn-blog:hover {
	opacity: 1;
}
.push-blog {
	float: left;
	width: 100%;
	height: 75px;
}